/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@mixin set-position($top, $right, $bottom, $left, $position: absolute) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}