@use '../../node_modules/sass-true/sass/true';
@use '../../src/modules/position/absolute';

@include true.describe('zero-position($top, $right, $bottom, $left)') {
	@include true.it('should default to zero-based if position not provided') {
		@include true.assert() {
			@include true.output() {
				@include absolute.zero-position();
			}
			@include true.expect() {
				position: absolute;
				inset: 0 0 0 0;
			}
		}
	}

	@include true.it('should set position to given in right order, without any zeros') {
		@include true.assert() {
			@include true.output() {
				@include absolute.zero-position(5px, 3em, 14rem, -8px);
			}
			@include true.expect() {
				position: absolute;
				inset: 5px 3em 14rem -8px;
			}
		}
	}
}

@include true.describe('unset-position($top, $right, $bottom, $left)') {
	@include true.it('should default to unset-based if position not provided') {
		@include true.assert() {
			@include true.output() {
				@include absolute.unset-position();
			}
			@include true.expect() {
				position: absolute;
				inset: unset unset unset unset;
			}
		}
	}

	@include true.it('should set position to given in right order') {
		@include true.assert() {
			@include true.output() {
				@include absolute.unset-position(5px, 3em, 14rem);
			}
			@include true.expect() {
				position: absolute;
				inset: 5px 3em 14rem unset;
			}
		}
	}
}