.aligned-centrally {
	display: flex;
	align-items: center;
}

.center-content {
	/* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
	@extend .aligned-centrally;

	&::before, &::after {
		content: '';
		margin: auto;
	}
}

.stretch-equally {
	justify-content: space-evenly;
}

.stretch-between {
	justify-content: space-between;
}

.vertical-stack {
	flex-direction: column;
}