@use 'sass:map';
@use '../responsiveness/breakpoints';

@mixin generate($column-prefix, $offset-prefix) {
	.row {
		display: flex;
		flex-wrap: wrap;

		/* stylelint-disable-next-line selector-max-attribute */
		[class ^= #{$column-prefix}], [class ^= #{$offset-prefix}] {
			box-sizing: border-box;
			flex-shrink: 0;
			max-width: 100%;
		}
	}

	#{'.' + $column-prefix}auto {
		flex: 0 0 auto;
		width: auto;
	}
}
